<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>gulp-sceg test -- {{TITLE}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCoreRDark.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shThemeRDark.css" rel="stylesheet" />
  <style>
  .syntaxhighlighter {
    padding: 10px 0;
    margin-bottom: 20px !important;
  }
  .sceg-preview {
    border: 1px solid #999;
    padding: 2em;
  }
  .sceg-comment {
    background: #f1f1f1;
    display: block;
    padding: 2em;
    border-radius: 3px;
  }
  .sceg-comment p:last-child {
    margin-bottom: 0;
  }
  </style>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushXml.min.js"></script>
  <script>
  addEventListener('DOMContentLoaded', function() {
    SyntaxHighlighter.all();
  });
  </script>
</head>
<body>

  <header class="container mt-5">
    <h1>Element Guide (bootstrap sample)</h1>
  </header>

  <div class="container">
    <nav>
      <ul class="nav justify-content-end">
        {{#each categories}}
        <li class="nav-item"><a class="nav-link" href="#{{id}}">{{name}}</a></li>
        {{/each}}
      </ul>
    </nav>
  </div>

  <main class="container mt-5">
    {{#each contents}}
    <section class="mb-5">
      <h1 class="mb-3"><a id="{{category.id}}">{{category.name}}</a></h1>
      {{#each el}}
      <section class="mt-5">
        <h2 class="mb-3">{{title}}</h2>
        <h5>Preview</h5>
        <div class="sceg-preview mb-3">
        {{{html}}}
        </div>
        <h5>Code</h5>
        <pre class="brush: html;">{{{html}}}</pre>
        <small class="sceg-comment">
          {{{comment}}}
        </small>
      </section>
      {{/each}}
    </section>
    {{/each}}
  </main>

</body>
</html>
