<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Element Guide (bootstrap sample)</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism-okaidia.min.css">
  <style>
  .sceg-preview {
    border: 1px solid #999;
    padding: 2em;
  }
  .sceg-comment {
    background: #f1f1f1;
    display: block;
    padding: 2em;
    border-radius: 3px;
  }
  .sceg-comment p:last-child {
    margin-bottom: 0;
  }
  </style>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-markup.min.js"></script>
</head>
<body>

  <header class="container mt-5">
    <h1>Element Guide (bootstrap sample)</h1>
  </header>

  <div class="container">
    <nav>
      <ul class="nav justify-content-end">
        {{#each categories}}
        <li class="nav-item"><a class="nav-link" href="#{{id}}">{{name}}</a></li>
        {{/each}}
      </ul>
    </nav>
  </div>

  <main class="container mt-5">
    {{#each contents}}
    <section class="mb-5">
      <h1 class="mb-3"><a id="{{category.id}}">{{category.name}}</a></h1>
      {{#each el}}
      <section class="mt-5">
        <h2 class="mb-3">{{title}}</h2>
        <h5>Preview</h5>
        <div class="sceg-preview mb-3">
        {{{html}}}
        </div>
        <h5>Code</h5>
        <pre class="language-markup"><code class="language-markup">{{html}}</code></pre>
        <small class="sceg-comment">
          {{{comment}}}
        </small>
      </section>
      {{/each}}
    </section>
    {{/each}}
  </main>

</body>
</html>
